{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}  
    <h2 class="h2" style="margin-bottom: 20px;">Browse Inventory</h2>
    <form id="search-form" onsubmit="getItems(event)" style="display: flex; align-items: center; width: 30rem;">
        <input type="text" id="search" class="form-control" style="margin-right: 6px;" placeholder="Search items...">
        <button type="submit" class="btn btn-primary" style="margin-right: 24px;">Search</button>
        <div class="spinner-border text-primary" id="spinner" style="flex-grow: 0; flex-shrink: 0; visibility: hidden;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </form>
    <div id="alert-wrapper"></div>
    <p id="result-count" class="mt-4"></p>
    <table class="table table-hover mt-2" style="border: var(--bs-border-width) solid var(--bs-border-color);">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody id="item-table">
            <!-- Items will be dynamically populated here -->
        </tbody>
    </table>
{% endblock %}
{% block javascript %}
   {{ super() }}
    <script src="{{ url_for('static', path='/javascript/alert.js') }}"></script>
    <script src="{{ url_for('static', path='/javascript/browse.js') }}"></script>
    <script>getItems()</script>
{% endblock %}