<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', path='/images/box.png') }}" alt="" width="32" height="32" style="margin-right: 4px">
      Stash
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link {% if path == '/' %}active{% endif %}" href="/">Home
            {% if path == '/' %}<span class="visually-hidden">(current)</span>{% endif %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if path == '/browse' %}active{% endif %}" href="/browse">Browse
            {% if path == '/browse' %}<span class="visually-hidden">(current)</span>{% endif %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if path == '/add' %}active{% endif %}" href="/add">Add
            {% if path == '/add' %}<span class="visually-hidden">(current)</span>{% endif %}
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        {% if not user %}
          <li class="nav-item">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
              Login
            </button>
          </li>
        {% else %}
          <li class="nav-item">
            <button type="button" class="btn btn-primary" onclick="handleLogout()">
              Logout
            </button>
          </li>
        {% endif %}
    </div>
  </div>
</nav>